@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.section-featured {
  max-width: 120rem;
  margin: 9.6rem auto;
  padding: 3.2rem 3rem;
}

.container {
  padding: 3.2rem;
  background-color: hsl(0, 0%, 98%);
}

.featured-contentbox {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.heading-primary {
  font-size: 3.2rem;
  font-weight: 200;
}

.subheading {
  font-size: 3.2rem;
  font-weight: 600;
}

.featured-text {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}

.featured-cardbox {
  padding: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  height: 20rem;
  margin: 3.2rem 1.2rem;
  border-radius: 9px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.column {
  padding: 2rem;
}

.heading-secondary {
  padding: 2rem 2.4rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.card-text {
  padding: 1.2rem 2.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}

.card-img {
  justify-items: right;
  height: 45%;
  margin-right: 0;
  margin-left: auto;
  padding: 2rem;
}

.supervisor {
  border-top: 4px solid hsl(180, 62%, 55%);
  margin: 15rem 0;
}

.team-builder {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.karma {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator {
  border-top: 4px solid hsl(212, 86%, 64%);
  margin: 15rem 0;
}
